

ul {
    display: block;
    list-style-type: disc;

    margin-block-start: 1em;
    margin-block-end: 1em;

    margin-inline-start: 0px;
    margin-inline-end: 10px;

    padding-inline-start: 0px;
}
ul.fonts_ li {
  display: inline;
}
li{
  list-style:none;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  /*background-color: #BADA55;*/
  color: #fff;
  width: 100%;
}
li a{
 font-family: Bangers;
 font-size: 30px;
 color: #BADA55;
}
.title_home{
   font-family: 'Patrick Hand SC', cursive;
   font-size:3rem;
   color:#41403E;
}

.Sacramento{
  font-family: Sacramento;
}
.Bangers{
  font-family: Bangers;
}
.Oswald{
  font-family: Oswald;
}
.Roboto{
  font-family: Roboto;
  font-weight: bold;
}
.Roboto{
  font-family: Audiowide;
  font-weight: bold;
}
.Lobster{
  font-family: Lobster;
  font-weight: bold;
}



















/*
canvas css
}*/
#canvas_vantonio{
	border:0px solid #3CB371;
}


/*#one_div{
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/
.btn-file {
  position: relative;
  overflow: hidden;
  background-color:#F00B42;
  color: #fff;
  }
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}


/*imagen add canvas url*/
#img_url{
   border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/*  init tab*/

/*
tab css
}*/
.tabs {
}
.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #2EBEB9;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #FCFCFC;
  text-align: center;
  line-height: 3em; 
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #259692;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 20%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  border-bottom: 2px solid #C7C6C4;
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
  background: #2EBEB9;
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  padding: 10px; 
}

.tab-content-wrapper{
  background: #FCFCFC;
  border-top: #2EBEB9 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
  position: relative;
  top: 0px;
 }

